@import "./breakpoints";

$tech-exp-icon-w: 40px;
$tech-exp-icon-h: 32px;
$tech-exp-icon-t: 20s;

.tech-exp {
  width: 100%;
  height: $tech-exp-icon-h;
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000, transparent);

  &-list {
    display: flex;
    width: 100%;
    position: relative;
    min-width: calc($tech-exp-icon-w * var(--tech-exp-icon-q));

    div {
      width: $tech-exp-icon-w;
      height: $tech-exp-icon-h;
      position: absolute;
      left: 100%;
      animation: marquee $tech-exp-icon-t linear infinite;
      animation-delay: calc(
        ($tech-exp-icon-t / var(--tech-exp-icon-q)) *
          (var(--tech-exp-icon-p) - 1)
      );

      svg {
        font-size: 2rem;
        color: var(--clr-main);
      }
    }

    @keyframes marquee {
      from {
        left: 100%;
      }
      to {
        left: calc($tech-exp-icon-w * -1);
      }
    }
  }

  &:hover div {
    animation-play-state: paused;
  }
}

.blog {
  .posts {
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;

    figure {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      height: 444px;
      margin-bottom: 10px;
      border: 1px solid #3b83f6a0;
      border-radius: 10px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
      overflow: hidden;
      h4 {
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px;
        color: var(--clr-white);
        font-size: 2.2rem;
        font-weight: lighter;
        line-height: 1;
        opacity: 1;
        transform: scale(1);
        transition: 0.5s ease;
        z-index: 20;
      }
      img {
        height: 100%;
        width: 100%;
        transition: 0.5s;
        object-fit: cover;
      }
      figcaption {
        position: absolute;
        bottom: -50%;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.7);
        box-shadow: 0 0 20px rgba(0,0,0, 0.4);
        color: var(--clr-white);
        line-height: 1;
        transition: 0.5s;
        p {
          font-size: 14px;
          line-height: 1.75;
        }
        a {
          padding-bottom: .2rem;
          margin-bottom: 30px;
          border-radius: 6px;
          box-shadow: 0px 4px 0 2px #060606, -1px 4px 4px 4px #000000e6;
          font-size: 0.8rem;
        }
      }
      &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
        h4 {
          opacity: 0;
          transform: scale(0.7);
        }
        img {
          transform: scale(1.25);
        }
        figcaption {
          bottom: 0;
        }
      }
    }
  }
}

.media-items {
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(4, 1fr);

  figure {
    margin-bottom: 10px;
    justify-self: center;
    border: 2px solid var(--clr-main);
    border-radius: 18px;

    .top {
      display: flex;
      background-color: rgb(27, 27, 44);
      border-radius: 18px 18px 0 0;
      padding: 4px;
      div {
        display: flex;
        margin-right: 20px;
        cursor: pointer;

        span {
          display: inline-block;
          border-radius: 100%;
          height: 16px;
          width: 16px;
          margin: 2px;
          color: transparent;
          font-size: 0.6rem;
          font-weight: bold;
          line-height: 1rem;
        }
        span:nth-child(1) {
          background-color: #ab58df;
        }
        span:nth-child(2) {
          background-color: #3cd6ee;
        }
        span:nth-child(3) {
          background-color: var(--clr-main);
        }
        &:hover {
          span {
            color: rgba(27, 27, 44, 0.6);
          }
        }
      }
      h5 {
        font-weight: lighter;
      }
    }

    &:hover {
      color: red;
    }
  }
}

.tags {
  display: flex;
  margin-bottom: 6px;
  margin-left: 6px;
  span {
    display: inline-block;
    padding: 2px 6px;
    border-radius: 4px;
    margin-right: 4px;
    background: #191919;
    color: rgb(72, 153, 219);
    font-size: 0.6rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.project-list {
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(3, 1fr);

  figure {
    display: inline-block;
    height: 400px;
    width: 100%;
    max-width: 400px;
    margin: 20px;
    justify-self: center;
    border: 2px solid var(--clr-main);
    border-radius: 20px;
    box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);

    transform: perspective(750px) translate3d(0px, 0px, -250px) rotateX(27deg)
      scale(0.9, 0.9);
    transition: 0.4s ease-in-out transform;

    &:hover {
      transform: translate3d(0px, 0px, -250px);
      cursor: pointer;
    }
  }
}

// border-image: linear-gradient(to right, var(--clr-main) 0%, #3cd6ee 100%);
// border-image-slice: 1;

// text-overflow: ellipse;

.debug {
  border: 2px solid red;
}

@include lg {
  .media-items {
    grid-template-columns: repeat(3, 1fr);
  }
  .blog .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include md {
  .media-items,
  .project-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog .posts {
    grid-template-columns: repeat(1, 1fr);
  }
}

@include sm {
  .tech-exp {
    height: 23px;
    &-list {
      div svg {
        font-size: 1.4rem;
      }
    }
  }
  .media-items,
  .project-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .media-items {
    figure {
      max-width: 400px;
    }
  }
  .project-list figure {
    transform: none;
  }
}
