@import "./breakpoints";

.media-items {
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  //   grid-template-rows: masonry;

  figure {
    padding: 6px;
    margin-bottom: 10px;
    justify-self: center;
    cursor: pointer;

    &:hover {
      color: red;
    }
  }
}

.tags {
  display: flex;
  span {
    display: inline-block;
    padding: 2px 6px;
    border-radius: 4px;
    margin-right: 4px;
    background: #191919;
    color: rgb(72, 153, 219);
    font-size: 0.6rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.project-list {
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(3, 1fr);

  figure {
    display: inline-block;
    height: 400px;
    width: 100%;
    max-width: 400px;
    margin: 20px;
    justify-self: center;
    border-radius: 20px;
    border: 4px solid var(--clr-main);
    box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);

    transform: perspective(750px) translate3d(0px, 0px, -250px) rotateX(27deg)
      scale(0.9, 0.9);
    transition: 0.4s ease-in-out transform;

    &:hover {
      transform: translate3d(0px, 0px, -250px);
      cursor: pointer;
    }
    .top {
      display: flex;
      border-radius: 16px 16px 0 0;
      padding: 4px;
      background-color: rgb(27, 27, 44);
      span {
        display: inline-block;
        border-radius: 100%;
        height: 20px;
        width: 20px;
        margin: 4px;
      }
      span:nth-child(1) {
        background-color: #ab58df;
      }
      span:nth-child(2) {
        background-color: #3cd6ee;
      }
      span:nth-child(3) {
        background-color: var(--clr-main);
      }
    }

  }
}

.debug {
  border: 2px solid red;
}

@include lg {
  .media-items{
    grid-template-columns: repeat(3, 1fr);
  }
}

@include md {
  .media-items,
  .project-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include sm {
  .media-items,
  .project-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .media-items {
    figure {
      max-width: 400px;
    }
  }
  .project-list figure {
    transform: none;
  }
}
