@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gradient-text {
    @apply text-4xl md:text-5xl lg:text-6xl font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-orange-400 to-orange-700 dark:from-blue-400 dark:to-blue-700;
  }
}

.dark .simplebar-scrollbar::before {
  background-color: white;
}

pre,
code {
  display: block;
  background: #55556110;
  line-height: 1.5;
  border-radius: 0.2rem;
  padding: 1rem;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.img-404 {
  background: #ffffff;
  max-width: 20rem;
  position: relative;
  margin-top: 2rem;
  overflow: hidden;
  border: 5px solid #ccd3ff;
  outline: 5px solid #504e6a;
  box-shadow: 0 0 0 10px #33334d, 0 0 0 15px #20204c;
}

.light .img-404 {
  border-color: #3e3e3e88;
  outline: #929292;
  box-shadow: 0 0 0 10px #d4d4dd, 0 0 0 15px #ffffff;
}

.key-btn {
  position: relative;
  display: inline-block;
  padding: 0.4rem 1.2rem 0rem 0.6rem;
  margin-right: 14px;
  background: #141515;
  background: radial-gradient(at top right, #141515, #000000) !important;
  font-family: monospace;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #3b83f6 !important;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  border: 1.5px solid #3b83f6;
  box-shadow: 0px 4px 0 6px #060606,
    -1px 6px 6px 6px #000000e6;
  top: 0;
  transition: all 150ms ease-in-out;
}
.key-btn:active {
  box-shadow: 0px 2px 0 6px #060606b5, -1px 4px 6px 6px #055ab530;
  top: 2px;
}
.key-btn:hover {
  text-decoration: none !important;
}
.key-btn:focus {
  box-shadow: 0px 2px 0 6px #060606b5,
    -1px 4px 6px 6px #000000e6;
  outline: none;
}
.key-btn.disabled {
  filter: grayscale(100%) opacity(0.7);
}
.light .key-btn {
  background: #ffffff;
  background: radial-gradient(at top right, #e2e2e2, #ffffff) !important;
  border-color: #c6c5c5;
  color: #b3b3b3 !important;
  box-shadow: 0px 4px 0 6px #deddddb5,
  -1px 6px 6px 6px #bcbcbce6;
}

.dark .blog-post {
  color: #ffffff;
}

.debug-me {
  border: 2px dotted tomato;
}
