@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body::-webkit-scrollbar {
  /* width: 0.25rem; */
  width: 8px;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: #2b6cb0;
  border-radius: 0.25rem;
  border: 3px solid #1e1e24;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

pre code {
  display: block;
  background: #55556110;
  line-height: 1.5;
  border-radius: 0.2rem;
  padding: 1rem;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

:root {
  --img-gap: 0.25rem;
}

.key-button {
  position: relative;
  display: inline-block;
  padding: 0.6rem 2.1rem 0.4rem 0.9rem;
  background: #141515;
  background: radial-gradient(at top right, #141515, #000000) !important;
  font-family: monospace;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #2b6cb0 !important;
  overflow: hidden;
  border-radius: 0.8rem;
  border: 1.5px solid #2b6cb0;
  box-shadow: 0px 4px 0 6px rgba(6, 6, 6, 0.71),
    -1px 6px 6px 6px rgba(0, 0, 0, 0.9);
  top: 0;
  transition: all 150ms ease-in-out;
}
.key-button:active {
  box-shadow: 0px 2px 0 6px rgba(6, 6, 6, 0.71),
    -1px 4px 6px 6px rgba(0, 0, 0, 0.9);
  top: 2px;
}
.key-button:hover {
  text-decoration: none !important;
}
.key-button:focus {
  box-shadow: 0px 2px 0 6px rgba(6, 6, 6, 0.71),
    -1px 4px 6px 6px rgba(0, 0, 0, 0.9);
  outline: none;
}
.jtron .kb-container {
  display: inline-block;
}
.jtron .kb-container .key-button {
  font-size: 46px;
}
@media screen and (max-width: 800px) {
  .jtron .kb-container .key-button {
    font-size: 32px;
  }
}

.image-404 {
  background: #ffffff;
  max-width: 20rem;
  position: relative;
  margin-top: 2rem;
  overflow: hidden;
  border: 5px solid hsl(0, 0%, 80%);
  outline: 5px solid hsl(0, 0%, 60%);
  box-shadow: 0 0 0 10px hsl(240, 4%, 30%), 0 0 0 15px hsl(240, 9%, 13%);
}

.image-404 > span {
  top: 1rem;
}
